.container{
    margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   gap: 30px;
}

.buttons{
    width: 500px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.score-card{

    width: 500px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
}
